{{# document_link}}
<a href="{{ url }}" target="_blank" rel="noopener" data-ga-track="1" data-ga-type="event" data-ga-category="Document" data-ga-action="Downloaden" data-ga-label="{{ url }}">{{ text }}</a>
{{/ document_link}}