{{! tijd en locatie}}
<h4>{{& icons.clock }} {{ event_date }} {{ start_time }} - {{ end_time }}</h4>
<h4>
	{{# online }}
		{{& icons.online }} {{ i18n.online }}
	{{/ online }}
	{{^ online }}
		{{& icons.location }} {{ location.name }}, {{ location.street }} {{ location.house_number }}, {{ location.postcode }} {{ location.city }}
	{{/ online }}
</h4>
{{! beschrijving van evenement}}
<p>{{& description | wp_kses_post }}</p>

{{! aanmeldformulier}}
<h2>{{#__}}Aanmelden{{/__}}</h2>
{{# verlopen }}
	{{#__}}Dit evenement is helaas al afgelopen{{/__}}
{{/ verlopen }}
{{^ verlopen }}
	{{# infodag }}
		{{& infoform }}
	{{/ infodag }}
	{{^ infodag }}
		{{& application_explanation }}
		{{# application_link }}
			{{& . }}
		{{/ application_link }}
	{{/ infodag }}
{{/ verlopen }}
{{! locatie op kaart tonen}}
{{# location }}
	<h2>{{#__}}Locatie{{/__}}</h2>
	{{& map }}
{{/ location }}
{{! link naar organisator tonen}}
{{# organizer }}
	<h2>{{#__}}Organisator{{/__}}</h2>
	{{#__}}Dit evenement wordt georganiseerd door {{/__}}
	{{ name }} | {{& link }}
{{/ organizer }}
