<h5>{{#__ }}{{job}} {{hours}} per week {{/__}}</h5>
<hr>
{{{intro}}}
<h2>{{#__}}Wat houdt deze vacature in{{/__}}</h2>
{{{content}}}
<p>
{{# contact}}
<h2>{{#__}}Meer weten?{{/__}}</h2>
{{#__}}Voor meer informatie kunt u contact opnemen met:{{/__}}
<br>
{{contact}} ({{contacttitle}}) {{{contactemail}}}
{{/ contact}}
</p>
<p>
{{# application}}
<h2>{{#__}}Solliciteren??{{/__}}</h2>
{{#__}}Je motivatie met ov kun je uiterlijk {{applicationdate}} sturen naar:{{/__}}
<br>
{{application}} ({{applicationtitle}}) {{{applicationemail}}}
{{/ application}}
</p>