<h5>{{#__ }}{{job_type}} {{hours}} uur per week{{/__}}</h5>
<hr>
<p>
	{{& intro|wp_kses_post }}
</p>
<h2>{{#__}}Wat houdt deze vacature in?{{/__}}</h2>
<p>
	{{& accordion }}
</p>
<p>
	{{# contact_person}}
		<h2>{{#__}}Meer weten?{{/__}}</h2>
		{{#__}}Voor meer informatie kun je contact opnemen met:{{/__}}<br>
		{{name}} ({{title}}), {{&email}}
	{{/ contact_person}}
</p>
<h2>{{#__}}Solliciteren?{{/__}}</h2>
<p>
	{{#__}}Je motivatie met cv kun je uiterlijk {{ deadline }} sturen naar:{{/__}}<br>
	{{application_manager.name}} ({{application_manager.title}}), {{{application_manager.email}}}
</p>