{{#stories}}
	<div class="flex-container">
		{{!korte quote van het verhaal}}
		<div class="flex-item" {{& animation_fade }} >
			{{& quote }}
		</div>
	</div>
	<div class="flex-container {{ flex_direction_class }} flex-direction-column-mobile">
		{{!plaatje tonen aan ene kant}}
		<div class="flex-item" {{& animation_attributes_1 }} >
			{{{image}}}
		</div>
		{{!verhaaltjes toenen aan andere kant}}
		<div class="flex-item" {{& animation_attributes_2 }} >
			{{# content }}
				<b>{{ title }}</b>
				{{& text|wp_kses_post }}
			{{/ content }}
		</div>
	</div>
{{/stories}}
{{#cta}}
	<div class="grid-100" {{& animation_fade }} >
		<h2>{{#__}}Zelf op avontuur?{{/__}}</h2>
		<p> {{#__}} Wil je meer weten over {{ project_type }}?{{/__}}</p>
		{{&cta}}
	</div>
{{/cta}}
