{{#cta}}
    <h2>{{#__}}Wilt je meer weten over zo'n soort project, bekijk de {{/__}} {{&cta}} </h2>
{{/cta}}
<div class="grid-100" {{{animation_fade}}} >
    {{{quote}}}
</div>
<div class="grid-40 {{push_class}}" {{{animation_attributes_1}}} >
    {{{image}}}
</div>
<div class="grid-60 {{pull_class}}" {{{animation_attributes_2}}} >
{{# contents}}
<b>{{&title}}</b>
{{&text}}
{{/ contents}}
</div>