{{!landkaart plaatsen}}
<div class="grid-50 {{{mapcss}}} data-sal="slide-right" data-sal-duration="1800" data-sal-easing="ease-out-sine">
    {{{worldmap}}}
</div>
{{!korte beschrijving van het land}}
<div class="grid-50" data-sal="slide-left" data-sal-duration="1800" data-sal-easing="ease-out-sine">
    <h2> Projecten op maat in {{{country}}} </h2>
    <p>{{& introduction|wp_kses_post }}</p>
    <b>{{#__}}Dit is het type projecten dat we hier aanbieden:{{/__}}</b>
    <p>
    {{!opsomming van soort projecten}}
    {{# worktypes}}
        {{{name}}}<br>
    {{/ worktypes}}
    </p>
</div>
 {{!plaats een quote over dit land}}
<div class="grid-100" data-sal="fade" data-sal-duration="1850" data-sal-easing="ease-out-sine">
    {{{quote}}}
</div>
{{!plaatje tonen}}
<div class="grid-50 push-50" data-sal="slide-left" data-sal-duration="1800" data-sal-easing="ease-out-sine">
    {{{image}}}
</div>
{{!beschrijving projecten}}
<div class="grid-50 pull-50" data-sal="slide-right" data-sal-duration="1800" data-sal-easing="ease-out-sine">
    <p>
    {{& description|wp_kses_post }}
    </p>
    {{!opmerking plaatsen als er ook projecten voor kinderen zijn}}
    {{#has_child_projects}}
        <p>
        {{#__}}Goed om te weten: SIW beoordeelt projecten met kinderen volgens de richtlijnen van het Better Care Network.{{/__}} {{{child_policy_link}}}
        </p>
    {{/has_child_projects}}
    {{! inschrijf knop plaatsen}}
    <p>
    {{#__}}Samen met de regiospecialist {{/__}} {{continent}} {{#__}}%s ga je aan de slag om van jouw idee werkelijkheid te maken. {{/__}}
    {{#__}}Word jij hiervan enthousiast, ga dan naar onze pagina over Op Maat projecten.{{/__}}
    <br><br> {{{sign_up_link}}}
    </p>
</div>
{{!Zo werkt het buttons}}
<div class="grid-100">
    <h2>{{#__}}Zo werkt het{{/__}}</h2>
    {{{features}}}
</div>