<div class="flex-container flex-colums-mobile">
	{{!landkaart plaatsen}}
	<div class="flex-item {{ mapcss }}" data-sal="slide-right" data-sal-duration="1800" data-sal-easing="ease-out-sine">
		{{& worldmap }}
	</div>
	{{!korte beschrijving van het land}}
	<div class="flex-item" data-sal="slide-left" data-sal-duration="1800" data-sal-easing="ease-out-sine">
		<p>{{& introduction|wp_kses_post }}</p>
		<b>{{#__}}Dit is het type projecten dat we hier aanbieden:{{/__}}</b>
		<p>
		{{!opsomming van soort projecten}}
		{{# worktypes}}
			{{{name}}}<br>
		{{/ worktypes}}
		</p>
	</div>
</div>
<div class="flex-container">
	{{!plaats een quote over dit land}}
	<div class="flex-item" data-sal="fade" data-sal-duration="1850" data-sal-easing="ease-out-sine">
		{{{quote}}}
	</div>
</div>
<div class="flex-container flex-colums-mobile">
	{{!beschrijving projecten}}
	<div class="flex-item" data-sal="slide-right" data-sal-duration="1800" data-sal-easing="ease-out-sine">
		<p>
		{{& description|wp_kses_post }}
		</p>
		{{!opmerking plaatsen als er ook projecten voor kinderen zijn}}
		{{#has_child_projects}}
			<p>
			{{#__}}Goed om te weten: SIW beoordeelt projecten met kinderen volgens de richtlijnen van het Better Care Network.{{/__}} {{& child_policy_link }}
			</p>
		{{/has_child_projects}}
		{{! inschrijf knop plaatsen}}
		<p>
		{{#__}}Samen met de regiospecialist {{/__}} {{ continent }} {{#__}} ga je aan de slag om van jouw idee werkelijkheid te maken. {{/__}}
		{{#__}}Word jij hiervan enthousiast, ga dan naar onze pagina over Wereld-basis-projecten.{{/__}}
		<br><br> {{& sign_up_link }}
		</p>
	</div>
	{{!plaatje tonen}}
	<div class="flex-item" data-sal="slide-left" data-sal-duration="1800" data-sal-easing="ease-out-sine">
		{{{image}}}
	</div>
</div>
