.siw-carbon-badge {
	padding-left: 1em;
	#wcb.carbonbadge {
		--b1: var(--siw-contrast);;
		--b2: var(--siw-green);
		#wcb_g {
			background-color: var(--siw-base);
		}
		#wcb_2 {
			color: var(--siw-base);
		}
	}
}
