.siw-cookie-consent {
	--cc-font-family: inherit;
	--cc-text: var(--siw-contrast);
	--cc-btn-primary-bg: var(--siw-green);
	--cc-btn-primary-text: var(--siw-contrast);
	--cc-btn-primary-hover-bg: var(--siw-accent);
	--cc-toggle-bg-on: var(--siw-green);

	.cc_div :focus {
		color: var(--siw-contrast);
	}
}
