.error404 .container {
	height: 100vh;
	background-image: var(--siw-404-background-url);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	max-width: unset;
	.site-content {
		height:100vh;
		text-align: center;
		main {
			padding: 50px;
			max-width: 85ch;
			display: inline-block;
			background-color: var(--siw-base);
		}
	}
}
