.siw-icon {
	display: inline-block;
	position: relative;
	fill: var(--siw-contrast-light);
	vertical-align: text-bottom;
	.footer-widgets &, .top-bar & {
		fill: var(--siw-base);
	}
}

@for $i from 1 through 10 {
	.siw-icon-#{$i}x {
		width: #{$i*0.5}em;
		height: #{$i*0.5}em;
	}
}
