.error404 .container {
	height: 100vh;
	background-image: url('#{$assets-path}/images/404/groep.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
	max-width: unset;
	.site-content{
		height:100vh;
		background-color: rgba(0, 0, 0, 0.5);
		text-align: center;
		main{
			padding-top: 50px;
			max-width: $mobile-width;
			display: inline-block;
		}
	}
}