@use "_variables" as variables;

.error404 .container {
	height: 100vh;
	background-image: url('#{variables.$assets-path}/images/404/groep.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	max-width: unset;
	.site-content {
		height:100vh;
		text-align: center;
		main {
			padding-top: 50px;
			max-width: 85ch;
			display: inline-block;
			background-color: var(--siw-base);
			box-shadow: var(--siw-box-shadow-overlay);
			padding: 2%;
		}
	}
}