//Archive

.archive,
.siw-carousel {
	article.siw_job_posting,
	article.siw_event,
	article.siw_story,
	article.siw_tm_country {
		z-index: 1;
		position: relative;
		.inside-article {
			box-shadow: $box-shadow;
			padding: 15px;
			position: relative;
			transition: all 0.3s ease-in-out;//TODO: variable van maken
			text-align: center;
			img {
				border-radius: 5px;
			}
			hr {
				margin-bottom: 10px;
				margin-top: 10px;
			}
			&:hover {
				&::after {
					opacity: 1;
				}
			}
			&::after {
				content: ' ';
				position: absolute;
				z-index:-1;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				box-shadow: $box-shadow-hover;
				opacity: 0;
				transition: opacity 0.3s ease-in-out;
			}
			.entry-content {
				margin-top: 1em;
			}
		}
	}
	.carousel-cell {
		margin-top: 5px;
		margin-bottom: 5px;
	}
}

.single article {
	hr {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

//Agenda
.siw_event{
	margin-bottom: 15px;
	.event-date{
		color: var(--siw-contrast-light);
		line-height: 2em;
		.day{
			font-size: 4em;
			font-weight: bold;
		}
		.month{
			font-size: 2em;
			font-weight: bold;
			
		}
		.time{
			font-size: 1em;
			font-weight: bold;
		}
	}
	.event-location{
		color: var(--siw-contrast-light);
		font-size: 1.2em;
		font-weight: bold;
	}

}