//Archive
.archive article .inside-article {
	border: 1px solid #ddd;
	text-align: center;
}

.siw_event {
	.siw-calendar-icon {
		position: absolute;
		font-size: 1.5em;
		margin-left: 5px;
		margin-top: 5px;
	}
	.event-info {
		font-size: 1.3em;
		font-style: italic;
	}
}

.siw_job_posting {
	.job-info {
		font-size: 1.3em;
		font-style: italic;
	}
}
