//Archive

.archive {
	article.siw_job_posting,
	article.siw_event,
	article.siw_story,
	article.siw_tm_country {
		padding: 10px;
		.inside-article {
			border: 1px solid #ddd;
			padding: 0;
			text-align: center;
		}
	}
}

//Agenda
.siw_event{
	margin-bottom: 15px;
	.event-date{
		color: var(--siw-contrast-light);
		line-height: 2em;
		.day{
			font-size: 4em;
			font-weight: bold;
		}
		.month{
			font-size: 2em;
			font-weight: bold;

		}
		.time{
			font-size: 1em;
			font-weight: bold;
		}
	}
	.event-location{
		color: var(--siw-contrast-light);
		font-size: 1.2em;
		font-weight: bold;
	}

}
