.flex-container {
	display: flex;
	gap: 10px;
}

.flex-item {
	flex: 1 1 0;
}

@for $i from 1 through 20 {
	.width-#{$i*5} {
		width: $i * 5%;
	}
}
.width-33 {
	width: 33%;
}


.flex-wrap {
	flex-wrap: wrap;
}

.flex-columns {
	flex-direction: column;
}
@media (max-width: 768px) {
	.flex-colums-mobile {
		flex-direction: column;
	}
}
