.project-wizard, form {
	input,
	textarea,
	select {
		&:hover, &:focus {
			outline: 2px solid var(--siw-accent)
		}
	}

	input,
	textarea {
		&:disabled,
		&:read-only {
			background-color: #ccc;
			opacity: 0.8;
		}
	}

	input[type=date] {
		background-color: var(--siw-base);
		border-width: 1px;
		border-color: var(--siw-accent);
		color: var(--siw-contrast);
		padding: 10px 15px;
		&:focus {
			border-radius: 0px;
		}
	}

	select {
		appearance: none;
		width: auto;
		padding: 10px 30px 10px 10px;

		//Let op: oranje kleurcode zit in fill
		background: var(--siw-base) url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='%23f67820'><polygon points='0,0 10,0 5,5'/></svg>") no-repeat;
		background-position: right 10px top 60%;
	}

	&[data-single-column="1"] .rwmb-column,
	.footer-widgets & .rwmb-column {
		width: 100%;
		margin-right: 0;
	}

	.rwmb-column .rwmb-field.rwmb-hidden-wrapper {
		margin-bottom: 0;
	}

	.footer-widgets & .rwmb-column .rwmb-field:not(.rwmb-hidden-wrapper) {
		margin-bottom: 12px;
	}

	@supports (appearance: none) {

		input[type=checkbox],
		.rwmb-input input[type=checkbox],
		input[type=radio],
		.rwmb-input input[type=radio] {
			appearance: none;
			position: relative;
			width: 25px;
			height: 25px;
			border: 1px solid var(--siw-accent);
			background: var(--siw-base);
			margin-right: 5px;
			vertical-align: middle;

			&:disabled {
				opacity: 0.3;
			}

			&:checked:after {
				opacity: 1;
			}
		}

		input[type=checkbox] {
			&:after {
				content: "";
				opacity: 0;
				display: block;
				left: 7px;
				top: 3px;
				position: absolute;
				width: 7px;
				height: 13px;
				border: 3px solid var(--siw-accent);
				border-top: 0;
				border-left: 0;
				transform: rotate(30deg);
			}

			&:checked {
				color: var(--siw-accent);
			}
		}

		input[type=radio] {
			border-radius: 50%;
			&:after {
				content: "";
				opacity: 0;
				display: block;
				left: 5px;
				top: 5px;
				position: absolute;
				width: 13px;
				height: 13px;
				border-radius: 50%;
				background: var(--siw-accent);
			}
		}
	}
}

