/* Fade in voor lazyload */
img[data-lazy-src] {
	opacity: 0;
}

img.lazyloaded {
	transition: opacity 0.5s linear 0.2s;
	opacity: 1;
}

body.home .site-content {
	padding-top: 0;
}

.siw-quote {
	padding: 40px;
	font-size: 1.3em;
	color: var(--siw-contrast-light);
	font-style: italic;
	text-align: center;
	.siw-icon {
		fill: var(--siw-contrast-light);
	}
}
dl{
	dd {
		margin: 0 1em 1em;
	}
}

.siw-archive-intro{
	background-color: var(--siw-contrast);
	color: var(--siw-base);
	padding: 15px;
	margin: 15px;
}
// alert text bij groepsprojecten
.siw-archive-alert {
	padding: 15px;
	margin: 15px;
  }
  
//Icon in menu wit bij hover
li.menu-item a {
	.siw-icon {
		margin-right:5px;
		transition: all 0.3s linear 0s;	
	}
	&:hover .siw-icon {
		fill: var(--siw-base);
	}
}

//TODO: partial voor knoppen
input[type=button].ghost,
input[type=submit].ghost,
button.button.ghost,
a.button.ghost {
	background-color: var(--siw-base);
	border: 2px solid var(--siw-contrast);
	color: var(--siw-contrast);
	transition: all .6s ease-out;
	&:visited{
		color: var(--siw-contrast);
		background-color: var(--siw-base);
	}
	&:hover,
	&:active,
	&.is-checked {
		background: var(--siw-contrast);
		color: var(--siw-base);
		border: 2px solid transparent; 
	}
}

.filter-button-group {
	text-align: center;
	button{
		margin: 2px;
	}
}

//Header
h1.hero-title{
	text-shadow: $text-shadow;
}

a:hover {
	text-decoration-color: var(--siw-accent);
}

//Features
.siw-features {
	text-align:center;
	.feature {
		margin-top: 5px;
		margin-bottom: 5px;
		padding: 10px;

		.siw-icon{
			margin-bottom: 10px;
		}
	}
}

ul{
	&[data-columns="2"] {
		columns: 2;
	}
	&[data-columns="3"] {
		columns: 3;
	}
	&[data-columns="4"] {
		columns: 4;
	}
}
