/* Fade in voor lazyload */
img[data-lazy-src] {
	opacity: 0;
}

img.lazyloaded {
	transition: opacity 0.5s linear 0.2s;
	opacity: 1;
}

.siw-quote{
	padding: 40px;
	font-size: 1.3em;
	color: #777;
	font-style: italic;
	text-align: center;
	.siw-icon{
		fill: #777;
	}
}

.siw-archive-intro{
	background-color: $font-color;
	color: #fff;
	padding: 15px;
	margin: 15px;
}

//Icon in menu wit bij hover
li.menu-item a .siw-icon {
	margin-right:5px;
	transition: all 0.3s linear 0s;
}

li.menu-item a:hover .siw-icon {
	fill: #fff;
}