:root {
	--siw-text-shadow: 2px 2px 2px var(--siw-contrast);
	--siw-box-shadow-overlay: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
	--siw-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.5);
	--siw-box-shadow-hover: 2px 2px 5px 4px rgba(0, 0, 0, 0.5);
	--siw-box-shadow-transition: box-shadow 0.3s ease-in-out;
}

/* Fade in voor lazyload */
img[data-lazy-src] {
	opacity: 0;
}

img.lazyloaded {
	transition: opacity 0.5s linear 0.2s;
	opacity: 1;
}

body.home .site-content {
	padding-top: 0;
}

dl {
	dd {
		margin: 0 1em 1em;
	}
}

.siw-intro {
	border: 1px solid var(--siw-accent);
	border-radius: 16px 0;
	background-color: #f6782010; //TODO:afleiden van accent color
	color: var(--siw-contrast);
	margin: 0;
	padding: 24px;

	p {
		margin-bottom: 0;
	}
	a {
		color: var(--siw-contrast);
		&:hover {
			color: var(--siw-accent);
		}
	}
}

.siw-accent {
	color: var(--siw-accent);
}

a.page-link::after {
	content: "\2192";
	position: absolute;
}

a[rel*=external]::after {
	content: "\2197";
	position: absolute;
}

// https://docs.generatepress.com/article/disable-secondary-navigation-mobile-menu/
.secondary-navigation .menu-toggle {
	display: none;
}

@media(max-width: 768px) {
	.secondary-navigation {
		text-align: center !important;

		ul {
			display: block;
		}

		.sf-menu>li {
			float: none;
			display: inline-block !important;
		}
	}
}
