@use "_variables" as variables;

.siw-newsletter-confirmation .container{
	height: 100vh;
	background-image: url('#{variables.$assets-path}/images/404/groep.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: var(--siw-base);
	max-width: unset;
	.site-content {
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.5);
		text-align: center;
		main {
			padding-top: 50px;
			max-width: 85ch;
			display: inline-block;
		}
	}
}