.radio, .radio-inline {
	input[type="radio"] {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}
	.checkmark {
		position: relative;
		margin-right: 25px;
		cursor: pointer;

		&::before,
		&::after {
			position: absolute;
		}

		&::before {
			content: "";
			display: inline-block;
			height: 20px;
			width: 20px;
			border: 1px solid #b9b9b9;
			border-radius:50%;
			top: 3px;
		}

		&::after {
			content: "";
			display: inline-block;
			height: 12px;
			width: 12px;
			border-radius:50%;
			background: $primary-color;
			left: 4px;
			top: 7px;
		}

	}

	/*Hide the checkmark by default*/
	input[type="radio"] + .checkmark::after {
		content: none;
	}
	/*Unhide the checkmark on the checked state*/
	input[type="radio"]:checked + .checkmark::after {
		content: "";
	}
}