/* Contact widget */
.siw-contact{
	margin: 0 auto;
	display: table;
	p {
		margin-bottom: 5px;
	}
	table td{
		padding: 0px 10px 0px 0px;
	}
}

#containerfooter .widget_siw_contact_widget .siw-social-links{
	text-align: center;
	margin-top:10px;

	a{
		padding:5px;
		
		.siw-background-icon {
			fill: #333;
		}

		&:hover{
			.siw-background-icon {
				fill: var(--hover-color);
			}
		}
	}
}

/* Snel zoeken widget */
.so-widget-siw_quick_search_form_widget{
	display: inline-block;
	background: rgba(51,51,51, 0.5);
	border-radius: 5px;
	padding: 10px 20px;
	text-align: center;
	margin-left: 20%;

	ul li{
		padding: 4px;
		display: block;
	}

	h3{
		color: #ffffff;
		padding-bottom: 5px;
		&::after {
			background-color: #ffffff;
		}
	}
}

/* Nieuwsbrief */
.so-widget-siw_newsletter_widget{
	input[type="text"], input[type="email"]{
		color: $font-color;
		box-shadow: none;
		&:focus{
			box-shadow: none;
		}
	}
	.loading,
	.loading:before,
	.loading:after {
		border-radius: 50%;
		width: 2.5em;
		height: 2.5em;
		animation-fill-mode: both; 
		animation: dots 1.8s infinite ease-in-out;
	}
	.loading {
		color: $secondary-color;
		font-size: 10px;
		margin: 10px auto;
		position: relative;
		text-indent: -9999em;
		transform: translateZ(0);
		animation-delay: -0.16s;
	}
	.loading:before,
	.loading:after {
		content: '';
		position: absolute;
		top: 0;
	}
	.loading:before {
		left: -3.5em;
		animation-delay: -0.32s;
	}
	.loading:after {
		left: 3.5em;
	}
}

@keyframes dots{
	0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em; }
	40% { box-shadow: 0 2.5em 0 0;}
}

/* Agenda */
.so-widget-siw_calendar_widget{
	ul{
		padding: 0px;
		list-style-type: none;
	}

	h5{
		margin-bottom: 0px;
		font-weight: bold;
	}

	h5 a::before{
		color: #fff;
		display: inline-block;
		height: 30px;
		left: 15px;
		vertical-align: middle;
		width: 30px;
		background-color: transparent;
		font-family: kt-icon;
		content:"\e115";
	}
	
	.duration, .page-link{
		font-weight: bold;
	}
}


/* Call to action*/
.so-widget-siw_cta_widget{
	.title {
		h2{
			color:#fff;
			font-size:76px;
			line-height:76px;
			@media only screen and (max-width: $tablet-width) {
				font-size:50px;
				line-height:50px;
			}
			@media only screen and (max-width: $mobile-width) {
				font-size:30px;
				line-height:30px;
			}
		}
		h4{
			color:#fff;	
			font-size:45px;
			line-height:45px;
			@media only screen and (max-width: $tablet-width) {
				font-size:30px;
				line-height:30px;
			}
			@media only screen and (max-width: $mobile-width) {
				font-size:20px;
				line-height:20px;
			}
		}
	}
	.link{
		text-align:center;
		.kad-btn{
			background: rgba(51,51,51, 0.5);
			color: #fff;
			border: none;
			transition: background 0.6s ease-out 0s;
			&:hover{
				background-color: $font-color;
				color:#fff;
			}
		}
	}
}

/*Quote*/
.so-widget-siw_quote_widget{
	background: rgba(255,255,255, 0.9);
	border-radius: 4px;
	padding: 10px;
	#containerfooter &{
		padding: 0;
	}

	.content {
		padding:10px;
		#containerfooter &{
			padding:inherit;
		}
	}

	blockquote {
		font-size: inherit;
		font-style: italic;
		border-left-style: solid;
		border-left-width: 5px;
		border-left-color: $secondary-color;

		#containerfooter &{
			border-left-color: #ccc;
			transition: border 0.6s ease-out 0s;
			&:hover{
				border-left-color: $secondary-color;
			}
		}

		footer {
			font-style: normal;
			font-size: inherit;
			#containerfooter &{
				color:inherit;
			}
		}
	}

	#containerfooter &{
		background: inherit;
	}
}


//Features
.so-widget-siw_features_widget {
	text-align:center;
	.cell{
		margin-top: 5px;
		margin-bottom: 5px;
		padding: 10px 20px;
	}
}

//Infobox
.so-widget-siw_infobox_widget {
	.header{
		display: inline-flex;
	}
	.icon {
		margin-right: 10px;
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 10px;
	}
}