//Archive
.woocommerce ul.products {
	li.product {
		box-shadow: var(--siw-box-shadow);
		transition: 0.3s;
		&:hover {
			box-shadow: var(--siw-box-shadow-hover);
		}
		a {
			padding: 10px;
			color: var(--siw-contrast);
			.woocommerce-placeholder {
				border: none;
			}
		}
		span.product-badge.featured-badge {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}

//Featured badge
span.product-badge.featured-badge {
	background-color: var(--siw-contrast);
	color: var(--siw-base);
	padding: 5px 10px;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 0.8em;
}

//Paginanummering
.woocommerce nav.woocommerce-pagination {
	ul.page-numbers {
		border: 2px solid var(--siw-contrast);
		border-right: unset;
		li {
			border-right: 2px solid var(--siw-contrast);
			a:hover {
				background: var(--siw-contrast);
				color: var(--siw-base);
			}
			span.current {
				background: var(--siw-contrast);
				color: var(--siw-base);
			}
		}
	}
}


//Carousel
.siw-carousel {
	margin-bottom: 20px;
	.flickity-button:hover {
		background-color: var(--siw-contrast-light);
	}

	.carousel-cell {
		li.product {
			list-style: none;
			.woocommerce-LoopProduct-link h2 {
				font-weight: 400;
				font-size: 20px;
			}
			box-shadow: var(--siw-box-shadow);
			transition: 0.3s;
			&:hover {
				box-shadow: var(--siw-box-shadow-hover);
			}
			text-align: center;
			a {
				padding: 10px;
				display: block;
				color: var(--siw-contrast);
				text-decoration: none;
				.woocommerce-placeholder {
					border: none;
				}
			}
			span.product-badge.featured-badge {
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}
}

//Single
.woocommerce div.product {
	.product_title {
		font-size: 30px;
		line-height: 40px;
	}

	.woocommerce-tabs {
		max-width: 100ch;
		ul.tabs.wc-tabs {
			flex-wrap: wrap;
			li {
				border-width: 3px;
				border-color: var(--siw-contrast);
				margin-bottom: 2px;
				margin-right: 2px;
				background-color: var(--siw-base);
				&:first-child{
					border-left-width: 3px;
					border-bottom-width: 3px;
				}

				&:last-child{
					border-bottom-color: var(--siw-contrast);
					border-bottom-width: 3px;
				}

				a:hover{
					color: var(--siw-contrast);
				}

				&.active{
					background-color: var(--siw-contrast);
					border-bottom-color: var(--siw-contrast);
					a{
						color: var(--siw-base);
					}
				}
			}
		}
	}

	//Product attributes tabel
	.woocommerce-product-attributes {
		border-top: none;
		th {
			width: 20%;;
		}
		th, td{
			border: none;
		}
	}

}
//Checkout
.woocommerce-checkout {
	.form-row-first {
		clear: left;
	}

	.form-row label.radio {
		margin-right: 5px;
		display: inline-block;
	}

	span.optional {
		display: none;
	}

	.woocommerce form .form-row .input-checkbox {
		display: inline-block;
	}

	.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
		&:focus {
			outline-offset: 2px;
			outline: 2px dotted var(--siw-contrast-light);
		}
	}
}
