{{> widgets/title}}
{{> widgets/intro}}
{{# has_events }}
<div class="flex-container flex-columns">
	{{# event_list}}
	<div class="flex-item event">
		<div class="flex-container">
			<div class="flex-item">
				{{& calendar }}
			</div>
			<div class="flex-item-2">
				<h3 class="title">
					<a href="{{ event.get_permalink }}" class="link">{{ event.get_title }}</a>
				</h3>
				<span class="duration">{{ event.get_start_time }} - {{ event.get_end_time }}</span><br/>
				<span class="location">
					{{# event.is_online }}{{#__}} Online {{/__ }} {{/ event.is_online }}
					{{^ event.is_online }} {{event.get_location.name }}, {{ event.get_location.city }} {{/ event.is_online }}

				{{ location }} </span>
			</div>
		</div>
	</div>
	{{/ event_list}}
</div>
<p>
	<a href="{{ archive_url }}" class="page-link">{{#__}}Bekijk de volledige agenda.{{/__}}</a>
</p>
{{/ has_events}}
{{^ has_events}}
	<p>{{#__}}Er zijn momenteel geen geplande evenementen.{{/__}}</p>
{{/ has_events}}
