{{> widgets/title}}
{{> widgets/intro}}
{{# active_events}}
	<div class="grid-container grid-parent">
		{{# events }}
			<div class="event {{responsive_classes}} grid-parent">
				<div class="event-left">
					<div class="calendar">
						<div class="month">
							{{ month }}
						</div>
						{{ day }}
					</div>
				</div>
				<div class="event-right">
					<h3 class="title">
						<a href="{{ url }}" class="link">{{ title }}</a>
					</h3>
					<span class="duration">{{ duration }}</span><br/>
					<span class="location">{{ location }}</span>
				</div>
			</div>
		{{/ events }}

	</div>
	<p>
		<a href="{{ agenda_url }}" class="page-link">{{ agenda_text }}</a>
	</p>
{{/ active_events}}

{{! tekst als er geen actieve evenement meer zijn}}
{{^ active_events}}
	<p>{{ no_events_text }}</p>
{{/ active_events}}
