{{> widget-title}}
{{#intro}}
	<div class="carousel-intro">
		<p>{{& . | wp_kses_post }}</p>
	</div>
{{/intro}}

{{& carousel }}

{{#show_button}}
	<div class="carousel-button">
		{{> button }}
	</div>
{{/show_button}}