<div class="siw-contact">
	<p>
		{{ name }} <br/>
		{{ address }} | {{ postcode }} {{ city }} <br/>
		{{{ tel_link }}} | {{{ email_link }}} <br/>
		{{{ whatsapp_link }}} <br/>
		{{{ opening_hours }}}
	</p>
</div>
<div class="siw-social-links clearfix">
	{{# social_networks }}
		{{{ . }}}
	{{/ social_networks }}
</div>
