<div class="newsletter_widget">
	<div id="newsletter_message_{{ id }}" class="newsletter_message"></div>
	<form method="post" autocomplete="on" class="newsletter_form" id="newsletter_form_{{ id }}" data-message-id="newsletter_message_{{ id }}">
		<p>
			{{ i18n.cta }}
		</p>
		<p>
			<label for="{{ first_name.id}}">{{ first_name.label }}</label>
			<input type="text" required id="{{ first_name.id }}" name="{{ first_name.name }}">
		</p>
		<p>
			<label for="{{ email.id}}">{{ email.label }}</label>
			<input type="text" required id="{{ email.id }}" name="{{ email.name }}">
		</p>
		<p>
			<input type="submit" value="{{ i18n.subscribe }}">
		</p>
	</form>
</div>
