{{> widget-title}}
{{# intro}}
	<p>{{ . }}</p>
{{/ intro}}

{{& chart }}

{{# show_explanation}}
<ul>
	{{# series}}
	<li>
		<b>{{ label }}</b>
		<p>{{& explanation | wp_kses_post }}</p>
	</li>
	{{/ series}}
</ul>
{{/ show_explanation}}
