{{> widget-title}}
<form id="siw_quick_search" method="get" action="{{& result_page_url|esc_url }}">
	<ul>
		{{# search_fields }}
		<li>
			<select id="{{ id }}" name="{{ name }}">
			{{# options }}
				<option value="{{ value }}" {{# selected}} selected="selected" {{/ selected}}>{{ label }}</option>
			{{/ options}}
			</select>
		</li>
		{{/ search_fields }}
		<li>
			<button type="submit" class="button">{{ i18n.search }}
		</li>
	</ul>
</form>
