{{> widget-title}}
<form id="siw_quick_search" method="get" action="{{& result_page_url|esc_url }}">
	<ul>
		<li>
			<select id="{{ destinations.id }}" name="{{ destinations.name }}">
			{{# destinations.options }}
				<option value="{{ value }}" {{# selected}} selected="selected" {{/ selected}}>{{ label }}</option>
			{{/ destinations.options}}
			</select>
		</li>
		<li>
			<select id="{{ months.id }}" name="{{ months.name }}">
			{{# months.options }}
				<option value="{{ value }}" {{# selected}} selected="selected" {{/ selected}}>{{ label }}</option>
			{{/ months.options}}
			</select>
		</li>
		<li>
			<button type="submit" class="button">{{ i18n.search }}
		</li>
	</ul>
</form>
