<nav aria-label="Breadcrumb" class="breadcrumb">
	<ol class="breadcrumb">
		{{# crumbs }}
		<li class="breadcrumb-item"><a href="{{ url }}">{{ title }}</a></li>
		{{/ crumbs }}
		<li class="breadcrumb-item">{{ current }}</li>
	</ol>
</nav>