.siw-accordion {
  max-width: fit-content;
}
.siw-accordion h5 {
  margin-top: 1px;
  margin-bottom: 1px;
}
.siw-accordion h5 span {
  width: 100%;
  display: block;
  padding: 8px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--siw-accent);
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
}
.siw-accordion h5 span:after {
  content: "+";
  float: right;
  font-weight: 700;
  color: var(--siw-contrast-light);
}
.siw-accordion h5 span[aria-expanded=true]:after {
  content: "-";
}
.siw-accordion .panel {
  max-width: 85ch;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
.siw-accordion .panel[aria-hidden=true] {
  max-height: 0 !important;
}
.siw-accordion .panel[aria-hidden=false] {
  display: block;
  padding: 10px;
}
