.siw-cookie-notice {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  z-index: 99999;
  padding: 10px;
  background-color: var(--siw-contrast-light);
  color: var(--siw-base);
  text-align: left;
  font-size: 0.9em;
}
.siw-cookie-notice .cookie-container {
  display: flex;
}
.siw-cookie-notice .cookie-options {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 70%;
  gap: 10px;
}
.siw-cookie-notice .cookie-options .cookie-text {
  flex-basis: 100%;
}
.siw-cookie-notice .cookie-options .cookie-option {
  flex-basis: auto;
}
.siw-cookie-notice .cookie-buttons {
  display: flex;
  flex-basis: 30%;
  gap: 10px;
}
.siw-cookie-notice .cookie-buttons .cookie-button {
  flex-basis: auto;
}
@media (max-width: 768px) {
  .siw-cookie-notice .cookie-container {
    flex-direction: column;
  }
}
.siw-cookie-notice form button[type=submit] {
  font-size: 0.9em;
}
.siw-cookie-notice a {
  color: var(--siw-base);
}
