.siw-cookie-notice {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  z-index: 99999;
  padding: 10px;
  background-color: var(--siw-contrast-light);
  color: var(--siw-base);
  text-align: left;
}
.siw-cookie-notice a {
  color: var(--siw-base);
}
