@charset "UTF-8";
@counter-style check {
  system: cyclic;
  symbols: ✓;
  suffix: " ";
}
ul[data-columns="2"] {
  columns: 2;
}
ul[data-columns="3"] {
  columns: 3;
}
ul[data-columns="4"] {
  columns: 4;
}
ul[data-list-style-type=disc] li {
  list-style-type: disc;
}
ul[data-list-style-type=circle] li {
  list-style-type: circle;
}
ul[data-list-style-type=square] li {
  list-style-type: square;
}
ul[data-list-style-type=check] li {
  list-style-type: check;
}
ul li::marker {
  color: var(--marker-color);
}
