@charset "UTF-8";
.siw-quote {
  padding: 40px;
  font-size: 1.3em;
  color: var(--siw-contrast-light);
  font-style: italic;
  text-align: center;
}
.siw-quote::before {
  content: "❝";
  font-size: 2em;
  font-style: normal;
  font-weight: bold;
  vertical-align: -0.3em;
}
