.siw-tablist ul[role=tablist] {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.siw-tablist ul[role=tablist]:after {
  clear: both;
  content: "";
  display: table;
}
.siw-tablist ul[role=tablist] li[role=tab] {
  border: solid 3px #3f3f3f;
  padding: 10px;
  float: left;
  font-weight: bold;
  margin-bottom: 2px;
  margin-right: 2px;
  cursor: pointer;
  list-style-type: none;
}
.siw-tablist ul[role=tablist] li[role=tab][aria-selected=true] {
  background-color: #3f3f3f;
  color: #fff;
}
.siw-tablist [role=tabpanel] {
  display: block;
  padding: 15px;
}
.siw-tablist [role=tabpanel][aria-hidden=true] {
  display: none;
}
