.siw-cookie-notice {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  z-index: 99999;
  padding: 10px;
  background-color: var(--siw-contrast-light);
  color: var(--siw-base);
  text-align: left;
  font-size: 0.9em;
}
.siw-cookie-notice form button[type=submit] {
  font-size: 0.9em;
  background-color: var(--siw-contrast-light);
  color: var(--siw-base);
  border: 2px solid var(--siw-base);
}
.siw-cookie-notice form button[type=submit]:hover, .siw-cookie-notice form button[type=submit]:active, .siw-cookie-notice form button[type=submit].is-checked {
  color: var(--siw-contrast-light);
  background-color: var(--siw-base);
}
