.siw-social-links a {
  padding: 5px;
  margin: 5px;
  font-size: 1.3em;
  text-decoration: none;
}
.siw-social-links a:hover .siw-icon {
  fill: var(--hover-color);
}
.footer-widgets .siw-social-links a:hover .siw-icon, .top-bar .siw-social-links a:hover .siw-icon {
  fill: var(--siw-accent);
}
