.siw-social-links {
  text-align: center;
}
.siw-social-links .header {
  padding-bottom: 15px;
  font-weight: bold;
  color: var(--siw-contrast-light);
}
.siw-social-links a {
  padding: 5px;
  margin: 5px;
  font-size: 1.3em;
  text-decoration: none;
}
.siw-social-links a .siw-icon {
  fill: var(--siw-contrast-light);
}
.footer-widgets .siw-social-links a .siw-icon {
  fill: var(--siw-base);
}
.siw-social-links a:hover .siw-icon {
  fill: var(--hover-color);
}
