.siw-taxonomy-filter {
  text-align: center;
}
.siw-taxonomy-filter .button {
  margin: 2px;
  border: 1px solid var(--siw-contrast-light);
  border-radius: 4px;
  color: var(--siw-contrast);
  transition: all 0.6s ease-out;
  background-color: transparent;
}
.siw-taxonomy-filter .button.active, .siw-taxonomy-filter .button:hover {
  background-color: var(--siw-accent);
  color: var(--siw-base);
}
