.siw-topbar {
  background: var(--siw-green);
  text-align: center;
}
.siw-topbar .content {
  padding: 10px;
}
.siw-topbar .content a.button {
  color: var(--siw-base);
  font-weight: 600;
  font-size: 18px;
  border: 2px solid var(--siw-green);
  border-radius: 60px;
}
.siw-topbar .content a.button:hover, .siw-topbar .content a.button:focus {
  border: 2px solid var(--siw-base);
  border-radius: 60px;
  background-color: var(--siw-green);
}
