<div class="topbar">
	<div class="topbar-content grid-container">
		<a id="topbar_link" class="button ghost" target="{{ target }}" data-ga-track="1" data-ga-type="event" data-ga-category="Topbar" data-ga-action="Klikken" data-ga-label="{{ link_url }}" href="{{ link_url }}">{{ link_text }}</a>
	</div>
</div>