.widget_siw_contact_widget p {
  margin-bottom: 10px;
}
.widget_siw_contact_widget table,
.widget_siw_contact_widget td {
  padding: 0px 10px 0px 0px;
  border: none;
}
.widget_siw_contact_widget a.siw-contact-link .siw-icon {
  fill: var(--siw-base);
}
