.so-widget-siw_cta_widget .headline {
  color: var(--siw-base);
  font-size: calc(1em + 3vw);
  line-height: 1em;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  text-shadow: var(--siw-text-shadow);
}
.so-widget-siw_cta_widget .button {
  text-align: center;
}
