@import "partials/_variables.scss";

html{
	background-image: url('#{$assets-path}/images/login/background-greyscale.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size:cover;

	body.login {
		background: transparent;

		h1 a {
			background-image: url('#{$assets-path}/images/login/logo.png');
			background-size: unset;
			width: unset;
		}
		.message {
			border-left-color: $primary-color;
		}
		form{
			input[type="text"], input[type="password"]{
				border-radius:0;
				border-color:$button-color;
			}

			.button-primary {
				background-color:$button-color;
				border:none;
				border-radius:0;
				color: #fff;
				transition: all 0.3s linear 0s;
				&:hover, &:active{
					background-color:$primary-color;
					color: #fff;
				}
			}
		}

		#nav a{
			color:#fff;
			font-weight: bold;
			&:hover{
				color:$primary-color;
			}
		}
	
		p#backtoblog{
			display: none;
		}
	}
}
