<select class="select-css" id="{{ id }}" name="{{ name }}">
	{{# options }}
		<option value="{{ value }}" {{# selected }} selected="selected" {{/ selected }}>{{ label }}</option>
	{{/ options }}
</select>