.siw-carbon-badge {
  padding-left: 1em;
}
.siw-carbon-badge #wcb.carbonbadge {
  --b1: var(--siw-contrast);
  --b2: var(--siw-green);
}
.siw-carbon-badge #wcb.carbonbadge #wcb_g {
  background-color: var(--siw-base);
}
.siw-carbon-badge #wcb.carbonbadge #wcb_2 {
  color: var(--siw-base);
}
