.siw-icon {
  display: inline-block;
  position: relative;
  fill: var(--siw-contrast-light);
}
.footer-widgets .siw-icon, .top-bar .siw-icon {
  fill: var(--siw-base);
}

.siw-icon-1x {
  width: 0.5em;
  height: 0.5em;
}

.siw-icon-2x {
  width: 1em;
  height: 1em;
}

.siw-icon-3x {
  width: 1.5em;
  height: 1.5em;
}

.siw-icon-4x {
  width: 2em;
  height: 2em;
}

.siw-icon-5x {
  width: 2.5em;
  height: 2.5em;
}

.siw-icon-6x {
  width: 3em;
  height: 3em;
}

.siw-icon-7x {
  width: 3.5em;
  height: 3.5em;
}

.siw-icon-8x {
  width: 4em;
  height: 4em;
}

.siw-icon-9x {
  width: 4.5em;
  height: 4.5em;
}

.siw-icon-10x {
  width: 5em;
  height: 5em;
}
