.topbar {
  background: var(--siw-accent);
  color: var(--siw-base);
  text-align: center;
}
.topbar .topbar-content {
  padding: 10px;
}
.topbar .button,
.topbar .button:visited {
  border: 2px solid var(--siw-base);
  color: var(--siw-base);
  background: transparent;
}
.topbar .button:hover, .topbar .button:active,
.topbar .button:visited:hover,
.topbar .button:visited:active {
  background: var(--siw-base);
  color: var(--siw-accent);
}
