nav.breadcrumb {
  padding: 10px;
  background-color: var(--siw-base);
  box-shadow: var(--siw-box-shadow-overlay);
  width: fit-content;
}
nav.breadcrumb ol.breadcrumb {
  color: var(--siw-contrast);
  margin: 0;
  list-style: none;
}
nav.breadcrumb ol.breadcrumb li {
  display: inline-block;
}
nav.breadcrumb ol.breadcrumb li a {
  color: var(--siw-contrast);
}
nav.breadcrumb ol.breadcrumb li + li:before {
  padding: 0.5em;
  content: ">";
}
