nav.breadcrumb {
  padding: 10px;
  background-color: rgba(63, 63, 63, 0.75);
  font-size: 0.9em;
  text-shadow: var(--siw-text-shadow);
  width: fit-content;
}
nav.breadcrumb ol.breadcrumb {
  margin: 0;
  list-style: none;
}
nav.breadcrumb ol.breadcrumb li {
  display: inline-block;
}
nav.breadcrumb ol.breadcrumb li a {
  color: var(--siw-base);
}
nav.breadcrumb ol.breadcrumb li + li:before {
  padding: 0.5em;
  color: var(--siw-base);
  content: ">";
}
