.topbar {
  background: var(--siw-secondary-color);
  color: #fff;
  text-align: center;
}
.topbar .topbar-content {
  padding: 10px;
}
.topbar .button.ghost, .topbar .button.ghost:visited {
  border: 2px solid #fff;
  color: #fff;
  background: transparent;
}
.topbar .button.ghost:hover, .topbar .button.ghost:active, .topbar .button.ghost:visited:hover, .topbar .button.ghost:visited:active {
  background: #fff;
  color: var(--siw-secondary-color);
}
