.siw-social {
  text-align: center;
}
.siw-social .title {
  padding-bottom: 15px;
  font-weight: bold;
}
.siw-social a {
  padding: 5px;
  margin: 5px;
  font-size: 18px;
  border-top: 3px solid;
  color: #ccc;
}
.siw-social a .siw-icon {
  fill: #ccc;
}
.siw-social a:hover {
  color: var(--hover-color);
}
.siw-social a:hover .siw-icon {
  fill: var(--hover-color);
}
