#siw-cookie-notification {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  z-index: 99999;
  padding: 10px;
  background-color: #bbb;
  text-align: left;
  font-size: 0.9em;
}
#siw-cookie-notification .cookie-button button {
  font-size: 0.9em;
}

@media only screen and (max-width: 780px) {
  #siw-cookie-notification .cookie-button {
    text-align: center;
  }
}
