nav .main-nav .mega-menu {
  position: static;
}
nav .main-nav .mega-menu > ul {
  position: absolute;
  width: 100%;
  left: 0 !important;
}
nav .main-nav .mega-menu > ul > li {
  display: inline-block;
  vertical-align: top;
}
nav .main-nav .mega-menu > ul > li > a {
  font-weight: bold;
}
nav .main-nav .mega-menu.mega-menu-col-2 > ul > li {
  width: 50%;
}
nav .main-nav .mega-menu.mega-menu-col-3 > ul > li {
  width: 33.3333%;
}
nav .main-nav .mega-menu.mega-menu-col-4 > ul > li {
  width: 25%;
}
nav .main-nav .mega-menu.mega-menu-col-5 > ul > li {
  width: 20%;
}
nav .main-nav .mega-menu > ul > li:hover > a,
nav .main-nav .mega-menu > ul > li:focus > a,
nav .main-nav .mega-menu > ul > li[class*=current-] > a,
nav .main-nav .mega-menu ul ul {
  background-color: transparent !important;
}
nav .main-nav .mega-menu ul .sub-menu {
  position: static;
  display: block;
  opacity: 1;
  visibility: visible;
  width: 100%;
  box-shadow: 0 0 0;
  left: 0;
  height: auto;
}
nav .main-nav .mega-menu ul.toggled-on .sub-menu {
  pointer-events: auto;
}
nav .main-nav .mega-menu .sub-menu .menu-item-has-children .dropdown-menu-toggle {
  display: none;
}
