@use "sass:math";

nav .main-nav .mega-menu {
	position: static;
	> ul {
		position: absolute;
		width: 100%;
		left: 0 !important;
		display: flex;
		flex-wrap: wrap;

		> li {
			display: inline-block;
			vertical-align: top;
			> a {
				font-weight: bold;
			}
		}
	}

	@for $i from 2 through 5 {
		&.mega-menu-col-#{$i} > ul > li {
			width: percentage(math.div(1, $i));
		}
	}

	> ul > li:hover > a,
	> ul > li:focus > a,
	> ul > li[class*="current-"] > a,
	ul ul {
		background-color: transparent !important;
		color: inherit !important;
	}

	ul .sub-menu {
		position: static;
		display: block;
		opacity: 1;
		visibility: visible;
		width: 100%;
		box-shadow: 0 0 0;
		left: 0;
		height: auto;
		pointer-events: auto;
		transform: scale(1);
	}

	ul.toggled-on .sub-menu {
		pointer-events: auto;
	}

	.sub-menu .menu-item-has-children .dropdown-menu-toggle {
		display: none;
	}
}
