nav.breadcrumb {
	padding: 10px;
	background-color: var(--siw-base);
	box-shadow: var(--siw-box-shadow-overlay);
	width: fit-content;
	ol.breadcrumb {
		color: var(--siw-contrast);
		margin:0;
		list-style: none;
		li {
			display: inline-block;
			a {
				color: var(--siw-contrast);
			}
		}
		li+li:before {
			padding: 0.5em;
			content: "\003E";
		}
	}
}