@import "../partials/_variables.scss";

.siw-social {
	text-align: center;
	.title {
		padding-bottom: 15px;
		font-weight: bold;
		color: var(--siw-contrast-light);
	}

	a {
		padding: 5px;
		margin: 5px;
		font-size: 18px;
		border-top: 3px solid;
		color: var(--siw-contrast-light);
		text-decoration: none;
		.siw-icon {
			fill: var(--siw-contrast-light);
		}

		&:hover {
			color: var(--hover-color);
			.siw-icon {
				fill: var(--hover-color);
			}
		}
	}
}
