@import "../partials/_variables.scss";

#siw-cookie-notification {
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	z-index: 99999;
	padding: 10px;
	background-color: #bbb;
	text-align: left;
	font-size: 0.9em;
	.cookie-button button{
		font-size: 0.9em;
	}
}
@media only screen and (max-width: $mobile-width) {
	#siw-cookie-notification {
		.cookie-button{
			text-align: center;
		}
	}
}
