@import "../partials/_variables.scss";

.topbar{
	background: var(--siw-accent);
	color: var(--siw-base );
	text-align: center;
	.topbar-content{
		padding: 10px;
	}
	.button.ghost, .button.ghost:visited {
		border: 2px solid var(--siw-base);
		color: var(--siw-base);
		background: transparent;

		&:hover, &:active{
			background: var(--siw-base);
			color: var(--siw-accent)
		}
	}
}
