@import "../partials/_variables.scss";

nav.breadcrumb{
	padding: 10px;
	background-color: rgba(63,63,63,0.75);
	font-size: 0.9em;
	text-shadow: $text-shadow;
	width: fit-content;
	ol.breadcrumb {
		margin:0;
		list-style: none;
		li{
			display:inline-block;
			a{
				text-decoration: underline;
				color: #fff;
			}
		}
		li+li:before {
			padding: 0.5em;
			color: #fff;
			content: "\003E";
		}
	}
}