@import "../partials/_variables.scss";

.topbar{
	background: var(--siw-secondary-color);
	color: #fff;
	text-align: center;
	.topbar-content{
		padding: 10px;
	}
	.button.ghost, .button.ghost:visited {
		border: 2px solid #fff;
		color: #fff;
		background: transparent;

		&:hover, &:active{
			background: #fff;
			color: var(--siw-secondary-color);
		}
	}
}
