.siw-icon {
  display: inline-block;
  position: relative;
  fill: #444;
}

.siw-icon-background {
  display: inline-block;
  font-size: 1em;
  position: relative;
  vertical-align: middle;
  height: 2em;
  width: 2em;
}
.siw-icon-background .siw-icon-inverse {
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  fill: #fff;
}
.siw-icon-background .siw-background-icon {
  position: absolute;
  left: 0;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.siw-icon-background:hover .siw-background-icon {
  fill: #ff9900;
}

.siw-icon-1x {
  width: 1em;
  height: 1em;
}

.siw-icon-background-1x {
  font-size: 1em;
}

.siw-icon-2x {
  width: 2em;
  height: 2em;
}

.siw-icon-background-2x {
  font-size: 2em;
}

.siw-icon-3x {
  width: 3em;
  height: 3em;
}

.siw-icon-background-3x {
  font-size: 3em;
}

.siw-icon-4x {
  width: 4em;
  height: 4em;
}

.siw-icon-background-4x {
  font-size: 4em;
}
