body:not(.wp-customizer) {
  --siw-base: #fff;
  --siw-accent: #0073aa;
}
body:not(.wp-customizer).admin-color-blue {
  --siw-accent: #e1a948;
}
body:not(.wp-customizer).admin-color-coffee {
  --siw-accent: #c7a589;
}
body:not(.wp-customizer).admin-color-ectoplasm {
  --siw-accent: #a3b745;
}
body:not(.wp-customizer).admin-color-light {
  --siw-accent: #04a4cc;
}
body:not(.wp-customizer).admin-color-midnight {
  --siw-accent: #e14d43;
}
body:not(.wp-customizer).admin-color-modern {
  --siw-accent: #3858e9;
}
body:not(.wp-customizer).admin-color-ocean {
  --siw-accent: #9ebaa0;
}
body:not(.wp-customizer).admin-color-sunrise {
  --siw-accent: #dd823b;
}

table.wp-list-table .column-visibility .dashicons-visibility {
  color: green;
}
table.wp-list-table .column-visibility .dashicons-hidden {
  color: red;
}
table.wp-list-table .column-exported .dashicons-yes {
  color: green;
}
table.wp-list-table .column-exported .dashicons-no {
  color: red;
}
table.wp-list-table .column-exported .dashicons-minus {
  color: grey;
}

#woocommerce-product-data ul.wc-tabs li.siw_description_options a::before {
  content: "\f123";
}
#woocommerce-product-data ul.wc-tabs li.siw_extra_options_options a::before {
  content: "\f108";
}

#order_data .order_data_column .form-field.form-field-wide label {
  display: inline-block;
}
#order_data .order_data_column .form-field.form-field-wide .woocommerce-help-tip {
  margin-bottom: 5px;
}
