.siw-accordion {
	max-width: fit-content;
	h5 {
		margin-top:1px;
		margin-bottom:1px;

		span {
			width: 100%;
			display: block;
			padding: 8px;
			border-bottom-style: solid;
			border-bottom-width: 1px;
			border-color: var(--siw-accent);
			font-weight: 500;
			font-size: 17px;
			cursor: pointer;

			&:after {
				content: "+";
				float: right;
				font-weight: 700;
				color: var(--siw-contrast-light);
			}

			&[aria-expanded="true"] {
				&:after {
					content: "-";
				}
			}
		}
	}

	.panel {
		max-width: 85ch;
		overflow: hidden;
		transition: max-height 0.3s ease;
		&[aria-hidden=true] {
			max-height: 0 !important;
		}

		&[aria-hidden=false] {
			display:block;
			padding:10px;
		}
	}
}
