.siw-accordion {
	max-width: fit-content;
	h5 {
		margin-top:1px;
		margin-bottom:1px;

		span {
			width: 100%;
			display: block;
			padding: 10px;
			border: solid 3px var(--siw-contrast);
			cursor: pointer;

			&:after {
				content: "+";
				float: right;
				font-size: 1em;
				font-weight: bold;
			}

			&[aria-expanded="true"] {
				background-color: var(--siw-contrast);
				color: var(--siw-base);
				&:after {
					content: "-";
					color: var(--siw-base);
				}
			}
		}
	}

	.panel {
		max-width: 85ch;
		overflow: hidden;
		transition: max-height 0.3s ease;
		&[aria-hidden=true] {
			max-height: 0 !important;
		}

		&[aria-hidden=false] {
			display:block;
			padding:10px;
		}

		div.product .woocommerce-tabs & {
			margin-bottom:0;
			&[aria-hidden=false] {
				padding:10px;
			}
		}
	}
}
