@import "../partials/_variables.scss";

.siw-accordion {
	h5 {
		margin-top:1px;
		margin-bottom:1px;

		span{
			width: 100%;
			display: block;
			padding: 10px;
			border-radius: 4px;
			background-color: #ececec;
	
			&:after {
				content: "+";
				float: right;
				font-size: 1em;
				font-weight: bold;
			}

			&[aria-expanded="true"] {
				background-color: $primary-color;
				color: #fff;
				&:after {
					content: "-";
					color:#fff;
				}
			}	
		}
	}

	.panel {
		overflow: hidden;
		transition: max-height 0.3s ease;
		&[aria-hidden=true] {
			max-height: 0 !important;
		}

		&[aria-hidden=false] {
			display:block;
			padding:10px;
		}

		div.product .woocommerce-tabs & {
			margin:0px;
			padding:0px;
			&[aria-hidden=false] {
				padding:10px;
			}
		}
	}
}
