@import "../partials/_variables.scss";

.siw-tablist {
	ul[role=tablist] {
		list-style-type: none;
		margin: 0 auto;
		padding: 0;
		&:after {
			clear: both;
			content: "";
			display: table;
		}
		li[role=tab] {
			border: solid 3px $button-color;
			padding: 10px;
			float: left;
			font-weight: bold;
			margin-bottom: 2px;
			margin-right: 2px;
			cursor: pointer;
			list-style-type: none;

			&[aria-selected=true] {
				background-color: $button-color;
				color: #fff;
			}
		}
	}
	[role=tabpanel] {
		display: block;
		padding: 15px;

		&[aria-hidden=true] {
			display: none;
		}
	}
}