.siw-social-links {
	a {
		padding: 5px;
		margin: 5px;
		font-size: 1.3em;
		text-decoration: none;

		&:hover {
			.siw-icon {
				fill: var(--hover-color);
				.footer-widgets &, .top-bar & {
					fill: var(--siw-accent);
				}
			}
		}
	}
}
