.siw-social-links {

	text-align: center;

	.header {
		padding-bottom: 15px;
		font-weight: bold;
		color: var(--siw-contrast-light);
	}

	a {
		padding: 5px;
		margin: 5px;
		font-size: 1.3em;
		text-decoration: none;

		.siw-icon {
			fill: var(--siw-contrast-light);

			.footer-widgets & {
				fill: var(--siw-base);
			}
		}

		&:hover {
			.siw-icon {
				fill: var(--hover-color);
			}
		}
	}
}
