.siw-topbar {
	background: var(--siw-green);
	text-align: center;
	.content{
		padding: 10px;
		a.button {
			color: var(--siw-base);
			font-weight: 600;
			font-size: 18px;
			border: 2px solid var(--siw-green);
			border-radius: 60px;
			&:hover, &:focus {
				border: 2px solid var(--siw-base);
				border-radius: 60px;
				background-color: var(--siw-green);
			}
		}
	}
}
