ul {
	&[data-columns] {
		column-rule: 1px solid var(--siw-accent);
	}
	@for $i from 2 through 4 {
		&[data-columns="#{$i}"] {
			column-count: #{$i};
			@media (max-width: 768px) {
				column-count: 1;
			}
		}
	}
	$list-style-types: (
		disc,
		circle,
		square,
		none,
		check
	);

	@each $style in $list-style-types {
		&[data-list-style-type="#{$style}"] li {
			list-style-type: $style;
			.panel-layout .widget & {
				list-style-type: $style;
			}
		}
	}

	$list-style-positions: (
		outside,
		inside
	);

	@each $position in $list-style-positions {
		&[data-list-style-position="#{$position}"] li {
			list-style-position: $position;
			.panel-layout .widget & {
				list-style-position: $position;
			}
		}
	}
}
