{{< email }}
	{{$ message }}
		{{#__}}Beste {{ contact_person }},{{/__}}
		<p>
			{{#__}}Wat leuk dat u interesse heeft in een samenwerking met SIW Internationale Vrijwilligersprojecten!{{/__}} {{#__}}Wij willen u bedanken voor het achterlaten van uw contactgegevens en wensen.{{/__}} {{#__}}Ons streven is binnen drie tot vijf werkdagen contact met u op te nemen om de mogelijkheden te bespreken.{{/__}}
		</p>
	{{/ message }}
{{/ email }}
