{{< email }}
	{{$ message }}
		{{#__}}Beste {{ first_name }}{{/__}},
		<p>
			{{#__}}Leuk om te zien dat je interesse hebt getoond in het project:{{/__}} <a href="{{ page_url }}" target="_blank" style="text-decoration:none">{{ page_title }}</a>
		</p>
		<p>
			{{#__}}Je hebt ons een vraag gesteld.{{/__}} {{#__}}Wellicht was er iets niet helemaal duidelijk of wil je graag meer informatie ontvangen.{{/__}} {{#__}}Wat de reden ook was, wij helpen je graag verder.{{/__}} {{#__}}We nemen zo snel mogelijk contact met je op.{{/__}}
		</p>
	{{/ message }}
{{/ email }}
