{{< email }}
	{{$ message }}
		{{#__}}Beste {{ first_name }},{{/__}}
		<p>
			{{#__}}Bedankt voor het invullen van ons contactformulier.{{/__}} {{#__}}Wij hebben je vraag ontvangen en we nemen zo snel mogelijk contact met je op.{{/__}}
		</p>
	{{/ message }}
{{/ email }}



