{{< email }}
	{{$ message }}
		{{#__}}Beste {{ first_name }},{{/__}}
		<p>
			{{#__}}Bedankt voor je ESC-aanmelding.{{/__}} {{#__}}Onderaan deze mail staan de gegevens die je hebt ingevuld.{{/__}} {{#__}}We nemen zo snel mogelijk contact met je op om in een gesprek verder met je kennis te maken!{{/__}}
		</p>
	{{/ message }}
{{/ email }}
