{{< email }}
	{{$ message }}
		{{#__}}Beste {{ first_name }},{{/__}}
		<p>
			{{#__}}Bedankt voor je aanmelding voor de Infodag van {{ info_day_date }}!{{/__}} {{#__}}Onderaan deze mail staan de gegevens die je hebt ingevuld.{{/__}} {{#__}}Een paar dagen van tevoren ontvang je de uitnodiging met de definitieve locatie en tijden.{{/__}}
		</p>
		<p>
			{{#__}}Als je nog vragen hebt, neem dan gerust contact met ons op.{{/__}};
		</p>
	{{/ message }}
{{/ email }}
