{{< email }}
	{{$ message }}
		<p>
			Op {{ page_title }} (<a href="{{ page_url }}" target="_blank" style="text-decoration:none">{{ page_url }}</a> is het formulier '{{ form_name }}' ingevuld met onderstaande gegevens:
		</p>
	{{/ message }}
{{/ email }}
