{{< email }}
	{{$ message }}
		{{#__}}Beste {{ first_name }}{{/__}},
		<p>
			{{#__}}Bedankt voor je aanmelding!{{/__}} {{#__}}Leuk dat je hebt gekozen via SIW een Wereld-basis-project te doen.{{/__}} {{#__}}Wij zullen ons best gaan doen om ervoor te zorgen dat dit voor jou een onvergetelijke ervaring wordt.{{/__}}
		</p>
		<p>
			{{#__}}Onderaan deze e-mail vind je een overzicht van de gegevens zoals je die op het inschrijfformulier hebt ingevuld.{{/__}}
		</p>
		<b>{{#__}}Wat gaat er nu gebeuren?{{/__}}</b>
		<p>
			{{#__}}Jouw aanmelding voor Wereld-basis wordt doorgestuurd naar onze SIW-regiospecialisten.{{/__}} {{#__}}Vervolgens neemt één van de regiospecialisten contact met je op om een kennismakingsgesprek in te plannen.{{/__}} {{#__}}Houd er rekening mee dat SIW met vrijwilligers werkt, waardoor het contact soms iets langer kan duren.{{/__}}
		</p>
		<b>{{#__}}Kennismakingsgesprek{{/__}}</b>
		<p>
			{{#__}}Tijdens het kennismakingsgesprek gaat onze regiospecialist samen met jou kijken welk Wereld-basis-project het beste bij jouw wensen en voorkeuren aansluit.{{/__}} {{#__}}In dit gesprek komen ook thema’s naar voren zoals interesse in culturen, creativiteit, flexibiliteit, enthousiasme en reis- en vrijwilligerswerkervaring.{{/__}}
		</p>
		<b>{{#__}}Voorbereidingsdag{{/__}}</b>
		<p>
			{{#__}}Na het kennismakingsgesprek nodigen we je uit voor een voorbereidingsdag.{{/__}} {{#__}}Mocht je nog geen keuze hebben gemaakt voor een project, dan kan de voorbereiding je helpen in het bepalen wat jij belangrijk vindt.{{/__}} {{#__}}Tijdens de voorbereiding krijg je informatie over de continenten, landen, cultuurverschillen en gezondheidszorg.{{/__}} {{#__}}Ook wordt er stilgestaan bij jouw verwachtingen, praktische projectsituatie en het zelfstandig verblijven in het buitenland.{{/__}} {{#__}}Tijdens de voorbereiding zullen gastsprekers en oud-deelnemers aanwezig zijn.{{/__}}
		</p>
		<b>{{#__}}Meer informatie{{/__}}</b>
		<p>
			{{#__}}Als je nog vragen hebt, aarzel dan niet om contact op te nemen met ons kantoor via {{ properties.email }} of via het nummer {{ properties.phone }}.{{/__}}
		</p>
	{{/ message }}
{{/ email }}
