.so-widget-siw_quote_widget {
	padding: 25px;
	background: var(--siw-base);
	box-shadow: var(--siw-box-shadow-overlay);
	.footer-widgets & {
		padding: 0;
		background: inherit;
		box-shadow: none;
		blockquote {
			border-left-color: inherit;
			transition: border 0.6s ease-out 0s;
			&:hover {
				border-left-color: var(--siw-accent);
			}
		}
	}
}
