<div id="{{id}}" class="siw-accordion" data-role="accordion" data-multiselectable="true">
	{{# panes }}
	<h5 class="tab">
		<span id="tab-{{id}}" role="button" aria-controls="panel-{{id}}">{{ title }}</span>
	</h5>
	<div class="panel" id="panel-{{id}}" aria-labelledby="tab-{{id}}" style="max-height:0px">
		<p>
			{{{ content|wp_kses_post }}}
		</p>
		{{> button }}
		</div>
	{{/ panes }}
</div>
