<div id="{{ element.id }}" class="{{ element.classes }}" data-role="accordion" data-tabs-allowed="{{ tabs_allowed }}"  data-breakpoint="{{ breakpoint }}" data-start-collapsed="{{ start_collapsed }}">
	<ul role="tablist" class="tabs-tab-list">
	{{# panes }}
		<li role="presentation" class="tabs-tab"><a href="#{{ section_id }}" role="tab" id="{{ tab_id }}" aria-controls="{{ section_id }}" class="tabs-trigger js-tabs-trigger">{{ title }}</a></li>
	{{/ panes }}
	</ul>
	{{# panes }}
	<section id="{{ section_id }}" role="tabpanel" aria-labelledby="{{ tab_id }}" class="tabs-panel js-tabs-panel" tabindex="0">
		<span class="accordion-trigger js-accordion-trigger" aria-controls="{{ section_id }}" role="button" tabindex="0">
			{{ title }}
		</span>
		<div class="content">
			<p>{{& content|do_shortcode|wp_kses_post }}</p>
			{{# button }}
				{{> links/button }}
			{{/ button }}
		</div>
	</section>
	{{/ panes }}
</div>
