<div id="{{ element.id }}" class="{{ element.classes }}">
	<nav aria-label="Breadcrumb" class="breadcrumb ">
		<ol class="breadcrumb">
			{{# items }}
			<li class="breadcrumb-item"><a href="{{ url }}">{{ title }}</a></li>
			{{/ items }}
			<li class="breadcrumb-item" aria-current="page">{{ current }}</li>
		</ol>
	</nav>
</div>
