<div id="{{ element.id }}" class="{{ element.classes }}">
  <span class="month-name">{{ month.name }}</span>
  <span class="day-number">{{ day.number }}</span>
  <span class="day-name">{{ day.name }}</span>
</div>
