<div id="{{ element.id }}" class="{{ element.classes }}" role="group" data-splide="{{ options }}">
	<div class="splide__track">
		<ul class="splide__list">
			{{#slides}}
			<li class="splide__slide">
				<div class="splide__slide__container">
					{{& image }}
				</div>
				<div class="slide_text">
					<h2 class="title"><a href="{{ link.url }}">{{ title }}</a></h2>
					<p class="excerpt">{{& excerpt|wp_kses_post }}</p>
					<p class="permalink">
						<a href="{{ link.url }}" class="page-link"> {{ link.text }}</a>
					</p>
				</div>
			</li>
			{{/slides}}
		</ul>
	</div>
</div>
