<div id="{{ notice_id }}" hidden>
	<div class="grid-container">
		<div class="grid-80 cookie-text">
			{{ i18n.cookie_text }}
		</div>
		<div class="grid-20 cookie-button">
			<button id="{{ button_id }}" type="button" class="button ghost">{{ i18n.button_text }}</button>
		</div>
	</div>
</div>