<div id="{{ element.id }}" class="{{ element.classes }}">
	{{# background_images }}
	<figure data-skip-lazy="1" style="animation-delay: {{ animation_delay}}s; animation-name: {{ animation_name }}; animation-duration: {{ animation_duration }}s; background-image: url( '{{ background_image_url }}');"></figure>
	{{/ background_images }}
	<div class="content grid-container">
		<div class="cta">
			<div class="headline">{{& headline | do_shortcode }}</div>
			{{# subheadline }}
			<div class="subheadline">{{ . }}</div>
			{{/ subheadline }}
			<div class="button">
				<a href="{{ button.url }}" class="button">{{ button.text }}</a>
			</div>
		</div>
	</div>
</div>

