<div class="grid-container siw-features">
	{{# features }}
		<div class="feature {{responsive_classes}} ">
			{{> icon }}<br/>
			<h3>{{ title }}</h3>
			<p>{{ content }}</p>
			{{> button }}
		</div>
	{{/ features }}
</div>