<div class="{{hide_on_mobile_class}} {{hide_on_tablet_class}}">
	<div id="siw-interactive-map-{{id}}" class="siw-interactive-map mapplic-dark" data-options="{{ options|json_encode }}"></div>
</div>
<div class="{{hide_on_desktop_class}}">
	{{{ mobile_content }}}
</div>
