<ul data-columns="{{ columns }}" {{# list_style_type }} data-list-style-type="{{ . }}" {{/ list_style_type }} {{# marker_color }}style="--marker-color:var(--{{.}})" {{/ marker_color }}>
	{{# items }}
	<li>{{& . | wp_kses_post }}</li>
	{{/ items }}
</ul>
