<div class="{{ element.class }}">
	{{# header }} <div class="header"> {{ . }}</div> {{/ header }}
	{{# social_networks}}
		<a href="{{ url }}" aria-label="{{ label }}" target="_blank" rel="noopener external" data-balloon-pos="down" style="--hover-color: {{ color }}" data-ga-track="1" data-ga-type="{{ ga.type }}" data-ga-category="{{ ga.category }}" data-ga-action="{{ ga.action }}" data-ga-label="{{ ga.label}}">
			<svg class="siw-icon siw-icon-{{ icon.size }}x" aria-hidden="true" focusable="false">
				<use xlink:href="#{{ icon.class }}" />
			</svg>
		</a>
	{{/ social_networks}}
</div>
