{{< email }}
	{{$ message }}
		{{#__}}Beste {{ order.get_billing_first_name}},{{/__ }}
		<p>
			{{#__}}Heel erg bedankt voor je aanmelding en betaling voor een vrijwilligersproject via SIW!{{/__}} {{#__}}We doen ons best om ervoor te zorgen dat dit voor jou een onvergetelijke ervaring wordt!{{/__}}

		</p>
		<p>
			{{#__}}We gaan je aanmelding doorzetten naar onze partnerorganisatie en nemen contact met je op zodra we bericht hebben ontvangen over je plaatsing.{{/__}}
		</p>
			{{#__}}Gemiddeld duurt het 5 werkdagen om een aanmelding voor een project binnen Europa te verwerken.{{/__}} {{#__}}Voor een projectaanmelding buiten Europa duurt het ongeveer 2 weken voor je van ons hoort of je definitief geplaatst bent.{{/__}}
		</p>
		<p>
			{{#__}}We willen je er nadrukkelijk op wijzen dat deze e-mail nog geen bevestiging is van deelname, maar een bevestiging van ontvangst van je betaling.{{/__}} {{#__}}Boek nog geen tickets, totdat je van ons ook een bevestiging hebt ontvangen van je plaatsing.{{/__}}
		</p>
		<p>
			{{#__}}Als je nog vragen hebt, aarzel dan niet om contact met ons op te nemen.{{/__}}
		</p>
	{{/ message}}
{{/ email}}
