<div class="flex-container flex-direction-column-mobile">
	{{!landkaart plaatsen}}
	<div class="flex-item {{ mapcss }}" data-sal="{{ animation_type_right }}" data-sal-duration="{{ animation_duration }}" data-sal-easing="{{ animation_easing }}">
		{{& worldmap }}
	</div>
	{{!korte beschrijving van het land}}
	<div class="flex-item" data-sal="{{ animation_type_left }}" data-sal-duration="{{ animation_duration }}" data-sal-easing="{{ animation_easing }}">
		<p>{{& tm_country.get_introduction|wp_kses_post }}</p>
		<b>{{#__}}Dit is het type projecten dat we hier aanbieden:{{/__}}</b>
		<p>
		{{!opsomming van soort projecten}}
		<ul>
		{{# tm_country.get_work_types}}
			<li>{{ label }}</li>
		{{/ tm_country.get_work_types }}
		</ul>
		</p>
	</div>
</div>
<div class="flex-container">
	<div class="flex-item" data-sal="{{ animation_type_quote }}" data-sal-duration="{{ animation_duration }}" data-sal-easing="{{ animation_easing }}">
		{{{quote}}}
	</div>
</div>
<div class="flex-container flex-direction-column-reverse-mobile flex-order-reverse-mobile">
	<div class="flex-item" data-sal="{{ animation_type_right }}" data-sal-duration="{{ animation_duration }}" data-sal-easing="{{ animation_easing }}">
		<p>
		{{& tm_country.get_description|wp_kses_post }}
		</p>
		{{!opmerking plaatsen als er ook projecten voor kinderen zijn}}
		{{#tm_country.has_child_projects}}
			<p>
				{{#__}}Goed om te weten: SIW beoordeelt projecten met kinderen volgens de richtlijnen van het Better Care Network.{{/__}}
				<a href="{{ child_policy_page }}">{{#__}}Lees meer over ons beleid.{{/__}}</a>
			</p>
		{{/tm_country.has_child_projects}}

		<p>
		{{#__}}Samen met de regiospecialist {{/__}} {{ tm_country.get_country.get_continent.get_name }} {{#__}} ga je aan de slag om van jouw idee werkelijkheid te maken. {{/__}}
		{{#__}}Word jij hiervan enthousiast, ga dan naar onze pagina over Wereld-basis-projecten.{{/__}}
		<br><br>
		<a href="{{ world_basic_page }}" class="button">{{#__}}Meld je aan{{/__}}</a>
		</p>
	</div>
	<div class="flex-item" data-sal="{{ animation_type_left }}" data-sal-duration="{{ animation_duration }}" data-sal-easing="{{ animation_easing }}">
		{{& image }}
	</div>
</div>
