@import "../partials/_variables.scss";

#wpadminbar ul li#wp-admin-bar-siw-env {
	pointer-events: none;
	background-color: #b92a2a;
	& > div > span.ab-icon:before {
		content: "\f339";
		top: 2px;
	}

	&.env-production {
		background-color: #b92a2a;
		& > div > span.ab-icon:before {
			content: "\f319";
			top: 3px;
		}
	}
	&.env-staging {
		background-color: #d79d00;
		& > div > span.ab-icon:before {
			content: "\f111";
			top: 1px;
		}
	}
	&.env-development, &.env-local {
		background-color: #3b9843;
		& > div > span.ab-icon:before {
			content: "\f107";
			top: 2px;
		}
	}
}

.siw-logo div {
	width: 60px !important;
	background-image: url("#{$assets-path}/images/admin/logo.png") !important;
	background-size: contain !important;
	background-repeat: no-repeat !important;
}

table.wp-list-table {
	.column-visibility {
		.dashicons-visibility {
			color: green;
		}

		.dashicons-hidden {
			color: red;
		}
	}

	.column-exported {
		.dashicons-yes {
			color: green;
		}

		.dashicons-no {
			color: red;
		}

		.dashicons-minus {
			color: grey;
		}
	}
}

#woocommerce-product-data ul.wc-tabs {
	li.description_options a::before {
		content: "\f123";
	}
	
	li.update_options a::before {
		content: "\f463";
	}
	
	li.approval_options a::before {
		content:"\f529";
	}
}

#order_data .order_data_column .form-field.form-field-wide {
	label {
		display: inline-block;
	}

	.woocommerce-help-tip {
		margin-bottom:5px;
	}
}
