@import "../partials/_variables.scss";

body {
	--siw-base: #fff;
	--siw-contrast: #0073aa;

	$theme-colors: (
		"blue": #e1a948,
		"coffee": #c7a589,
		"ectoplasm": #a3b745,
		"light": #04a4cc,
		"midnight": #e14d43,
		"modern": #3858e9,
		"ocean": #9ebaa0,
		"sunrise": #dd823b,
	);

	@each $theme, $color in $theme-colors {
		&.admin-color-#{$theme} {
			--siw-contrast: #{$color};
		}
	}
}

.siw-logo div {
	width: 60px !important;
	background-image: url("#{$assets-path}/images/admin/logo.png") !important;
	background-size: contain !important;
	background-repeat: no-repeat !important;
}

table.wp-list-table {
	.column-visibility {
		.dashicons-visibility {
			color: green;
		}

		.dashicons-hidden {
			color: red;
		}
	}

	.column-exported {
		.dashicons-yes {
			color: green;
		}

		.dashicons-no {
			color: red;
		}

		.dashicons-minus {
			color: grey;
		}
	}
}

#woocommerce-product-data ul.wc-tabs {
	li.siw_description_options a::before {
		content: "\f123";
	}

	li.siw_extra_options_options a::before {
		content: "\f108";
	}
}

#order_data .order_data_column .form-field.form-field-wide {
	label {
		display: inline-block;
	}

	.woocommerce-help-tip {
		margin-bottom:5px;
	}
}
